.container{
    padding: 0px 15px 20px 15px;
    /* width: 100%; */
}
.container h2{
    font-size: 17px;
    margin: 0;
}
.container .icons_box{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .icons_box div{
      margin-right: 14px;
}
.container .icons_box div button{
      display: flex;
      flex-direction: column;
      align-items: center;
}
.container .icons_box div button h3{
    font-size: 12px;
    /* background: #000; */
}
    
.container .icons_box div .icon{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}